.card {
background: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div {
    padding: 15px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#question-container {
    margin-bottom: 20px;
}

#options-container {
    margin: 20px 270px;
    display:flex;
    flex-direction: column;
    width: 40%;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prev-btn {
    background-color: #f44336;
    color: white;
}

#next-btn {
    background-color: #4CAF50;
    color: white;
}

.next-btn {
    background-color: #4CAF50;
    color: white;
}

#score-container {
    display: none;
    font-size: 20px;
    font-weight: bold;
}

.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
.option-btn {
    display: block;
    margin: 5px 0;
    padding: 10px;
}
.focus {
  border:none;
  outline: none;
  border-bottom: 1px solid black;
}
